(setf forgerie-gitlab:*private-token* "__PRIVATE_TOKEN__")
(setf forgerie-gitlab:*server-address* "__ADDRESS__")
(setf forgerie-gitlab:*root-password* "__ROOT_PASSWORD")

(setf forgerie-phabricator:*database-password* "__PASSWORD__")
(setf forgerie-phabricator:*git-location* "__GIT_LOCATION__")
(setf forgerie-phabricator:*phabricator-location* "__PHABRICATOR_LOCATION__")
(setf forgerie-phabricator:*revisions-to-skip* nil)
